* {
  color: #ffffff;
}

.not-bg {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}

.not-img {
  width: 30%;
}
